{% extends 'base.html.twig' %}
{% form_theme createServiceForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Création de service
{% endblock %}

{% block body %}
    <h2>Ajouter une prestation</h2>

    {{ form_start(createServiceForm) }}

    {{ form_row(createServiceForm.title, {'attr': {'placeholder': "Nom de la prestation"}}) }}
    {{ form_row(createServiceForm.picture, {'attr': {'placeholder': "Image de la prestation"}}) }}
    {{ form_row(createServiceForm.description, {'attr': {'placeholder': "Description de la prestation"}}) }}
    {{ form_row(createServiceForm.price, {'attr': {'placeholder': "Prix de la prestation"}}) }}

    <button type="submit" class="btn btn-success">Ajouter</button>
    
    {{ form_end(createServiceForm) }}

{% endblock %}
