{% extends 'base.html.twig' %}
{% form_theme createServiceForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Gestion des services{% endblock %}

{% block body %}

    <h2>Ajouter ou modifier une prestation</h2>

    {{ form_start(createServiceForm) }}

    {{ form_widget(createServiceForm.title, {'attr': {'placeholder': "Nom de la prestation"}}) }}
    {{ form_widget(createServiceForm.picture, {'attr': {'placeholder': "Image de la prestation"}}) }}
    {{ form_widget(createServiceForm.description, {'attr': {'placeholder': "Description de la prestation"}}) }}
    {{ form_widget(createServiceForm.price, {'attr': {'placeholder': "Prix de la prestation"}}) }}

    <button type="submit" class="btn btn-success">Ajouter</button>

    {{ form_end(createServiceForm) }}

{% endblock %}
