<div class="">
        <h1 class="text-center">Modification de l'utilisateur {{idUser.username}}</h1>
        <pre>
            {{ dump(userChangeForm) }}
        </pre>
    <form action="/admin/actionUserChange" class="border" method="POST">
        {{ form_start(userChangeForm) }}
        <input type="hidden" name="id" value="{{idUser.id}}">
        <!-- Modal -->
        <div class="modal fade" id="modalUserChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">MODIFICATION DE L'UTILISATEUR</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Voulez-vous vraiment appliquer les modifications ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULER</button>
                        <button type="submit" class="btn btn-primary">MODIFIER</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(userChangeForm) }}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUserChange">
            MODIFIER
        </button>
    </form>
</div>
        {# {{ form_label(userChangeForm.username, 'NOM') }}
        {{ form_label(userChangeForm.email ) }}
        {{ form_label(userChangeForm.roles ) }} #}
