{% extends "base.html.twig" %}

{% block title %}Modification des utilisateurs
{% endblock %}

{% block body %}

    <div class="">
        <label>CHOISIR UN UTILISATEUR A MODIFIER</label>

        <select id="selectUser" >
            <option value=""></option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        
        <pre>
            {{dump(users)}}
        </pre>


{#         {{ form_start(userChangeForm) }}
        {{ form_row(userChangeForm.username) }}
        {{ form_row(userChangeForm.email) }}
        {{ form_row(userChangeForm.roles) }}

        <pre>
            {{ dump(userChangeForm) }}
        </pre>

        <button type="submit" class="btn btn-success">Modifier</button>
        {{ form_end(userChangeForm) }} #}
    </div>
{% endblock %}
