{% extends "base.html.twig" %}

{% block title %}Modification des utilisateurs
{% endblock %}

{% block body %}

    <div class="">
        <label>CHOISIR UN UTILISATEUR A MODIFIER</label>
        <select>
            {% for user in users %}
                    <option value="">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    {{ form_start(userChangeForm) }}
    {{ form_row(userChangeForm.username) }}
    {{ form_row(userChangeForm.email) }}
    {{ form_row(userChangeForm.roles) }}

    <button type="submit" class="btn btn-success">Modifier</button>
    {{ form_end(userChangeForm) }}

{% endblock %}
