{% extends "base.html.twig" %}

{% block title %}Article de blog
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
	<div class="container">
		<article class="articles">
			<h2>{{ article.title}}</h2>
			<div class="metadata">Ecrit le
				{{ article.createdAt | date('d/m/Y')}}
				à
				{{ article.createdAt | date('H:i')}}
				dans la catégorie
				{{ article.category.title }}</div>
			<div class="content">
				<img src="{{ article.image }}" alt="image de l'article">
				{{ article.content | raw }}
			</div>
		</article>
		<h1 class= "text-center mt-5">Vos commentaires :</h1>
		<section id="comments">
			{% for comment in article.comments %}
				<div class="comment">
					<div class="row border border-dark mx-auto mb-3 p-2">
						<div id="verticalSeparation" class="col-3 d-flex align-items-center">
							{{ comment.author }}
							<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>
						</div>
						<div class="col-9">
							{{ comment.content | raw }}
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
	</div>
{% endblock %}
