{% extends "base.html.twig" %}

{% block title %}Contact
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}
	<div class="h-100 w-100">
		<div class="row mt-5 d-flex justify-content-around">
			<div class="col-4">
				<iframe id= "map" src="https://www.openstreetmap.org/export/embed.html?bbox=4.1405582427978525%2C45.83776961260888%2C4.206304550170899%2C45.872560923854486&amp;layer=mapnik&amp;marker=45.855167989021616%2C4.173431396484375" style="border: 1px solid black"></iframe>
				<small>
					<a id= "linkMap" href="https://www.openstreetmap.org/?mlat=45.8552&amp;mlon=4.1734#map=14/45.8552/4.1734">Afficher une carte plus grande</a>
				</small>
			</div>
			<div class="col-6 mt-5">
				<h1 id="testH1">Nous contacter ...<img class="ml-5" id="letter" src="/assets/Pictures/letter.png" alt="courrier"></h1>
				<div class="mt-3" id= "formContact">
					{{ form_start(form)}}
					<div class="row">
						<div class="col">
							{{ form_row(form.firstname, { 'label': 'Prénom'} )}}
						</div>
						<div class="col">
							{{ form_row(form.lastname, { 'label': 'Nom'} )}}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_row(form.phone, { 'label': 'Numéro de téléphone'} )}}
						</div>
						<div class="col">
							{{ form_row(form.email, { 'label': 'Email'} )}}
						</div>
					</div>
					{{ form_rest(form)}}
					<div class="form-group">
						<button class="mt-3 btn btn-primary">Envoyer</button>
					</div>
					{{ form_end(form)}}
				</div>
			</div>
		</div>
	</div>

	<footer class="fixed-bottom page-footer font-small pt-4">
		<div class="container-fluid text-center text-md-left">
			<div class="row">
				<div class="col-md-6 mt-md-0 mt-3">
					<h5 class="text-uppercase">Footer Content</h5>
					<p>Here you can use rows and columns to organize your footer content.</p>
				</div>
				<hr class="clearfix w-100 d-md-none pb-3">
				<div class="col-md-3 mb-md-0 mb-3">
					<ul class="list-unstyled">
						<li>
							<a href="#!">Link 1</a>
						</li>
					</ul>

				</div>
				<div class="col-md-3 mb-md-0 mb-3">
					<ul class="list-unstyled">
						<li>
							<a href="{{ path('legalNotice') }}">Mentions Légales</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">© 2019 Copyright: WECOMIN
		</div>
	</footer>
	{% block javascripts %}{% endblock %}
{% endblock %}
